{% extends "base.html" %}
{% block content %}

<div class="container">
  <div class="text-center">
    <h1>The Noob Upgrade</h1>
  </div>
      <div class="table-responsive">
        <table class="table text-white">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">10</th>
              <th scope="col">0</th>
              <th scope="col">5</th>
              <th scope="col">1</th>
              <th scope="col">2</th>
              <th scope="col">1</th>
              <th scope="col">2</th>
              <th scope="col">0</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
            </tr>
            <tr>
              <th scope="row">20</th>
              <td>Dequeue</td>
              <td>Pop</td>
              <td>Dequeue</td>
              <td>Pop</td>
              <td>Dequeue</td>
              <td>Push 11</td>
              <td>Push 5</td>
              <td>Enqueue 10</td>
            </tr>
            <tr>
              <th scope="row">30</th>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>Push 6</td>
              <td>Enqueue 11</td>
              <td>Push 20</td>
              <td>Dequeue</td>
              <td>Pop</td>
              <td>Pop</td>
              <td>Enqueue 0</td>
              <td>Push 1</td>
            </tr>
            <tr>
              <th scope="row">19</th>
            </tr>
            <tr>
              <th scope="row">80</th>
              <td>Push 9</td>
              <td>Dequeue</td>
              <td>Pop</td>
              <td>Dequeue</td>
              <td>Pop</td>
              <td>Enqueue 4</td>
              <td>Pop</td>
              <td>Dequeue</td>
            </tr>
            <tr>
              <th scope="row">44</th>
            </tr>
            <tr>
              <th scope="row">60</th>
              <td>Pop</td>
              <td>Dequeue</td>
              <td>Push 0</td>
              <td>Enqueue 0</td>
              <td>Dequeue</td>
              <td>Dequeue</td>
              <td>Enqueue 1</td>
              <td>Dequeue</td>
            </tr>
            <tr>
              <th scope="row">90</th>
            </tr>
            <tr>
              <th scope="row">100</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>Dequeue</td>
            </tr>
          </tbody>
        </table>
      </div>

<h3 class="text-center">Submission</h3>
<form method="POST">
  <div class="form-group">
    {{ form.ans.label(class="form-group") }}
    {{form.ans(class='form-control bg-dark text-white')  }}<br>
  </div>
  <div class="form-group">
    {{ form.sub.label(class="form-group") }}
    {{form.sub(class='form-control bg-dark text-white', rows="10")  }}<br>
  </div>
  <div class="form-group text-center">
      {{ form.submit(class="btn btn-danger") }}
  </div>
</form>

</div>

{% endblock %}
