{% extends "base.html" %}
{% block content %}

<div class="container">
  <div class="text-center">
    <h1>The Average Upgrade</h1>
    <a href="https://www.amazon.in/Premium-Eau-de-cologne-100ml/dp/B01MRXBKZA" class="btn btn-danger btn-lg active btn-block chal_4" target="_blank" role="button" aria-pressed="true">Go here</a>
  </div>

  {% if current_user.level==3 or current_user.user_type=="Godzilla" %}
  <h3 class="text-center">Submission</h3>
  <form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.ans.label(class="form-group") }}
      {{form.ans(class='form-control bg-dark text-white')  }}<br>
    </div>
    <div class="form-group">
      {{ form.sub.label(class="form-group") }}
      {{form.sub(class='form-control bg-dark text-white', rows="10")  }}<br>
    </div>
    <div class="form-group text-center">
        {{ form.submit(class="btn btn-danger") }}
    </div>
  </form>

  {% else %}
  <div class="text-center" style="margin-top:10%">
    <h3>Cleared on {{ stats.uptime.strftime("%d %b %Y at %I:%M %p") }}</h3>
  </div>
  {% endif %}
</div>



{% endblock %}
